# Tools for data science

* Hello everybody! This is my first attempt at github. The entire version control aspect of programming seemed to be incredibly daunting for me, so I'm using this assignment to conquour my fear and get better!*

### There are many languages used for data science but I shall list few of them down:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. SAS(Statistical Analysis System)
7. MATLAB

 ## List of data science libraries:
 
### 1) Python:

1. NumPy
2. Pandas
3. Matplotlib
4. scikit-learn
5. TensorFlow
6. Keras

### 2) R:
1. dplyr
2. ggplot2
3. caret
4. tidyr
5. glmnet

## Table of Data Science Tools are:

| S.no | Tool | 
| :- | -: |
| 1. | Python |
| 2. | R |
| 3. | SQL |
| 4. | Jupyter Notebook/lab |
| 5. | Apache Spark |
| 6. | Tableau |
| 7. | Power BI |
| 8. | KNIME |
| 9. | SAS |
| 10. | MATLAB |

### Arithmetic expression: 

$\hat{Y} = \hat{\beta}_{0} + \sum \limits _{j=1} ^{p} X_{j}\hat{\beta}_{j} $

In [4]:

print(4+(3*5))

19

In [3]:
a = int(input("Please enter minutes value: "))
print(a/60," Hours")

Please enter minutes value: 30
0.5  Hours

## Objectives:
1. To create a markdown cell with the title of the notebook. 
2. To create a markdown cell for an introduction.
3. To create a markdown cell to list data science languages.
4. To create a markdown cell to list data science libraries.
5. To create  a markdown cell with a table of Data Science tools.
6. To create  a markdown cell introducing arithmetic expression examples. 
7. To create a code cell to multiply and add numbers
8. To create a code cell to convert minutes to hours.

### Author: Amarthya Dutta Gupta